.header {
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  height: 100%;
  padding-bottom: 2rem;
}

.name_display {
  margin: 0;
  padding: 1rem;
  text-align: right;
}
/* showMonth */

.showMonth {
  padding-top: 2rem;
  text-align: center;
}
.showMonth button {
  margin: 1rem;
  padding: 0.5rem;
  width: 100px;
  background-color: #e7d0c9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.showMonth h1 {
  font-size: 1.5rem;
  color: #454545;
}

/* Balance */

.balance-container {
  color: #454545;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.balance-container h2 {
  font-size: 1rem;
  margin-right: 1.5rem;
  margin-top: 0;
}
.balance-container .balance span {
  margin-left: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}

.balance-container .balance {
  font-size: 2.5rem;
}

/* PriceField */

.input_field {
  width: auto;
  padding: 2rem 0 0;
  margin: 0 auto;
}

.input_field_inner {
  display: flex;
  justify-content: center;
}

.input_field_inner p {
  display: inline-block;
  font-size: 0.9rem;
}

.input_field_inner .MuiInputBase-input {
  padding: 10px;
  margin: 0.5rem 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.MuiInputBase-input {
  padding: 10px;
}
@media screen and (max-width: 767px) {
  .input_field {
    display: block;
    text-align: center;
  }
  .input_field_inner {
    width: auto;
    padding: 0 1rem;
    display: inline-block;
    text-align: left;
  }
  /* .input_field_inner > div form {
    min-width: 375px;
  }
  .input_field_inner > form {
    min-width: 90%;
  } */
  .input_field_inner .MuiInputBase-input {
    margin: 0.5rem 0;
  }
}

/* item field */

.item_field {
  width: 80%;
  margin: 0 auto;
}

.item_field .item_list-container {
  display: flex;
}
.income-list,
.expense-list {
  flex: 1;
  padding: 1rem;
}
.btn_field {
  text-align: center;
}
.btn_field span {
  font-weight: 600;
  color: #fff;
}

.income-list h3,
.expense-list h3 {
  margin-left: 1rem;
}
.thisMonthList,
.pastMonthList {
  display: flex;
  list-style: none;
  border-bottom: 1px solid #e7d0c9;
  padding: 1rem 0 0.5rem;
}
.thisMonthList .text {
  flex: 2;
}
.thisMonthList .money-minus,
.thisMonthList .money-plus,
.pastMonthList .money-minus,
.pastMonthList .money-plus {
  flex: 1;
  text-align: right;
  font-weight: 600;
}
.thisMonthList .money-plus,
.pastMonthList .money-plus {
  color: #6fd7b6;
}
.thisMonthList .money-minus,
.pastMonthList .money-minus {
  color: #d65b6c;
}
.delete-btn {
  margin-left: 1rem;
  width: 30px;
  height: 30px;
  background-color: #e7d0c9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .item_field .item_list-container {
    display: block;
  }
  .income-list h3,
  .expense-list h3 {
    margin-left: 0rem;
  }
  .list {
    padding-left: 0;
  }
}

/* copyright */

.copyright {
  margin-bottom: 2rem;
}
