@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");

* {
  font-family: "Noto Sans JP", sans-serif;
}

.login-contents,
.signup-contents {
  height: 100vh;
  background-color: #f4f4f4;
  position: relative;
}

.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 2rem;
  border-radius: 15px;
  background: #fff;
  box-shadow: 6px 6px 12px #cfcfcf, -6px -6px 12px #fff;
  height: 500px;
}

/* button */

.MuiButton-containedPrimary {
  background-color: #aecbcd;
  height: 50px;
  border-radius: 30px;
  box-shadow: none;
  transition: all 0.8s;
  cursor: pointer;
}
.MuiButton-containedPrimary:hover {
  background-color: #71a4a8;
}
.MuiButton-contained,
.MuiButton-contained:hover {
  box-shadow: none;
}

a {
  color: #dda2a4;
  text-decoration: none;
  transition: all 0.8s;
}
a:hover {
  color: #ecc5c7;
}
